.wrapper {
    min-height: rem(600);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: nowrap;
  }

  .settingsWrapper {
    max-width: rem(300);
    align-self:flex-start;
    align-items: flex-start;
  }

.answerComponent {
    max-width: rem(800);
    min-width: rem(30%);
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.languagePicker {
  align-self: center;
  align-items: center;
}

.answerBox {
    max-height: rem(40px);
    min-height: rem(40px);
    flex-grow: 1;
    border-radius: var(--mantine-radius-md);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    max-width: rem(700);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}