.wrapper {
    min-height: rem(600);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: nowrap;
  }

  .settingsWrapper {
    max-width: rem(300);
    align-self:flex-start;
    align-items: flex-start;
  }

.answerBox {
    margin-top: 2rem;
    max-width: rem(800);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}